<%= simple_form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="center jumbotron"
    <div class="actions">
      <%= f.input :name, input_html: { class: 'form-control' }  %>
      <%= f.input :description , :required => false,  as: :text , input_html: { class: 'form-control' }  %>
      <%= f.input :price, :required => false, input_html: { class: 'form-control' }  %>
      <%= f.input :category, input_html: { class: 'form-control' }, as: :select  %>
      <%= image_tag('no-photo.gif' , id: "img_prev") unless @product.image? %>
      <%= image_tag(@product.image_url) if @product.image? %>
      <%= f.input :image, :required => false ,input_html: { onchange: "readURL(this);" }, as: :file %>
      <%= f.input :image_cache, as: :hidden %>
      <%= f.button :submit , "Add" , class: 'btn btn-success'  %>
    </div>
<% end %>
