<div class="center jumbotron">
<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<h1>Listing Products</h1>


    <% @products.each do |product| %>
    <div class="">
    <%= image_tag product.image_url(:thumb).to_s  %>
    <%= product.name %>
    <%= product.price %>

        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
         <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
=======
    <div class="container">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-4">
            <%= div_for(product) do %>
              <div class="thumb">
                <%=link_to(product) do %>
                  <%= image_tag('no-photo.gif', id: "img_prev" , class: "img-responsive" ) unless product.image? %>
                  <%= image_tag product.image_url(:thumb).to_s  %>
              </div>
                  <h3><%= product.name %></h3>
                <% end %>

              <h5><%= number_to_currency(product.price, unit: "₱") %></h5>

              <!-- <%= link_to 'Edit', edit_product_path(product) %>
              <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %> -->
              <% end %>
          </div>
        <% end %>
      </div>
>>>>>>> 2bbab105e11b930fc95655f1dfdee34464222d16
    </div>




</div>

<%= link_to 'New Product', new_product_path %>
