<div class="center jumbotron">
<p id="notice"><%= notice %></p>

    <div class="container">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-4">
            <div class="cont-box rounded">
              <%= div_for(product) do %>
                  <div class="thumb">
                    <%=link_to(product) do %>
                      <%= image_tag('no-photo.gif', id: "img_prev" , class: "img-responsive" ) unless product.image? %>
                      <%= image_tag product.image_url(:thumb).to_s  %>
                    <% end %>
                  </div>

                    <%=link_to(product) do %>
                      <h3><%= product.name %></h3>
                    <% end %>

                  <h5><%= number_to_currency(product.price, unit: "₱") %></h5>

                  <!-- <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %> -->
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>




</div>

<%= link_to 'New Product', new_product_path %>
