<div class="container-fluid" style="width:80%">
	<p id="notice"><%= notice %></p>
    <div class="row">
        <div class="col-xs-8">
        	<h3>Item no: <%= @product.name %></h3>
        	<p>Category: <%= @product.category %></p>
        	<%= image_tag('no-photo.gif' , id: "img_prev") unless @product.image? %>
			<%= image_tag @product.image_url(:thumb).to_s %>
			<p>Price: <%= @product.price %></p>
            <p>Description:<br /><%= @product.description %></p>
        </div>
        <div class="col-xs-4" style="background-color:lightgrey">
            <p>Seller Info:</p>
            <p>Name: </p>
            <p>Date Posted: </p>
            <p>Contact Number: </p>
            <p>Address: </p>
        </div>
    </div>
</div>


<!--
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
-->
